.env
.env.*
!.env.example

node_modules/

.next/
dist/
coverage/

backend/storage/pdfs/*
backend/storage/temp/*

!backend/storage/pdfs/.gitkeep
!backend/storage/temp/.gitkeep

*.log

.DS_Store
*.tsbuildinfo

*.md
!README.md